body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#2b1055, #7597de);
    background-attachment: fixed;
    background-repeat: no-repeat;
    }

.about {
    display: flex;
    justify-content: center;
    margin-top: 30%;
    font-size: large;
    color: white;
}

@media screen and (min-width: 768px) {
    body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background: linear-gradient(#2b1055, #7597de);
    background-repeat: no-repeat;
    }

    .about {
        display: flex;
        font-size: xx-large;
        justify-content: center;
        margin-top: 7%;
    }
}