body {
    justify-content: center;
    background: white;
  }

*{
    font-weight: bold;
}
.dropdown-container {
    position: relative;
    max-width: 240px;
}
.dropdown-toggle {
    color: #000000;
    background-color: #ffffff;
    font-size: 17px;
    padding: 18px 20px;
    box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: all ease-in-out 0.3s;
    &:hover,
    &:active,
    &:focus {
    background-color: #0979ce;
    color: #ffffff;
      }
    }
  
.dropdown-menu {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
      margin-top: 17px;
      position: absolute;
      left: 0;
      top: 100%;
      display: none;
      background-color: #ffffff;
      z-index: 10;
}  
ul {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        border-radius: 10px;
        z-index: 10;
      }
  
a {
        text-decoration: none;
        display: block;
        color: #000000;
        font-size: 15px;
        padding: 16px 20px;
        font-weight: 600;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
        transition: all ease-in-out 0.3s;
  
        &:hover,
        &:active,
        &:focus {
          background-color: #0979ce;
          color: #ffffff;
    }
}

  
.dropdown-menu,
.dropdown-toggle {
    position: relative;
  
    &::before {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      border: 5px solid;
      border-top-color: rgba(0, 0, 0, 0);
      border-left-color: rgba(0, 0, 0, 0);
      margin-top: -2.5px;
      background-color: rgba(0, 0, 0, 0);
      transition: all ease-in-out 0.2s;
    }
  }
  
  .dropdown-menu {
    z-index: 10;
    position: relative;
  
    &::before {
      z-index: -1;
      transform: rotate(-135deg);
      top: -4px;
      border-color: #ffffff;
      box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.4);
    }
  }
  
.dropdown-open {
    .dropdown-menu.dropdown-active {
    display: block;
}
}
.dropdown-container.dropdown-open {
.dropdown-toggle {
    background-color: #0979ce;
    color: #ffffff;
    &:before {
    transform: rotate(-135deg);
    }
}
}




.allInfo{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: center;
    background: white;
    gap: 2vh;
}

.divImgArtistDetailled{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 12vh;
    width: 90%;
    align-items: center;
    background: linear-gradient(to bottom, #292929, #0B0B0B);
    border-radius: 5px;
    overflow: hidden;
}

#idImgArtistDetailled{
    width: 20vw;
    height: 80%;
    max-height: 151px;
    border-radius: 5%;
}

.divInfoTxtArtist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: #ECE9E9;
    border-radius: 5px;
    width: 90%;
}

.divInfoTxtArtist p{
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    color: black;
    overflow: hidden;
}

.divMembersArtist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(to bottom, #292929, #0B0B0B);
    border-radius: 5px;
}

.divMembersArtist p{
    display: flex;
    justify-content: center;
    height: 5vh;
    color: white;
}

.fieldsetArtistsMembers{
    display: flex;
    flex-direction: column;
    margin: 2vh;
}

#titleMembersGrp{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    color: white;
    overflow: hidden;
}

.divtableCardConcertDates{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(to bottom,#0bf,#066aff);
    border-radius: 5px;
    gap: 2vw 1vh;
}

.fieldsetTableCityDate{
    display: flex;
    flex-direction: column;
    margin: 2vh;
}

#titleTableCardConcertDates{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    color: white;
    overflow: hidden;
}

.cardConcertDates{
    display: flex;
    flex-direction: column;
}

.cardConcertDates p{
    display: flex;
}

@media only screen and (min-width: 500px) {
    #idImgArtistDetailled{
        max-width: 100px;
        max-height: 95px;
    }
}

@media only screen and (min-width: 650px) {
    #idImgArtistDetailled{
        max-width: 119px;
        max-height: 100px;
    }
}

@media only screen and (min-width: 800px) {
    .divImgArtistDetailled{
        width: 98%;
    }

    #idImgArtistDetailled{
        width: 18vw;
        max-width: 144px;
    }

    .divInfoTxtArtist{
        width: auto;
        height: auto;
    }
}





  
 