.btn {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.6rem;
    cursor: pointer;
    border: none;
    position: relative;
}
.dropdown {
    position: absolute;
    width: 250px;
    margin-top: 0.3rem;
    background: white;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0.5rem);
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
}
.dropdown a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: red;
  }
  
.dropdown a:hover {
    background-color:red;
    color: white;
  }
.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
  }
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    gap: 1vh;
  }

*{
    font-weight: bold;
}
.navTxtArtistDetailled{
    display: flex;
    flex-direction: row;
}

.navTxtArtistDetailled a{
    color: black;
    text-decoration: none;
}

.allInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    gap: 1vh;
}

.divInfoTxtArtist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    gap: 1vh;
}

.divInfoTxtArtist p{
    color: black;
}

.divImgArtistDetailled{
    display: flex;
    justify-content: center;
    height: 12vh;
    width: 90vw;
    align-items: center;
    background: linear-gradient(to bottom, #292929, #0B0B0B);
    border-radius: 5px;
    margin: 5vw;
    overflow: hidden;
}

#idImgArtistDetailled{
    width: 20vw;
    height: 10vh;
    max-width: 200px;
    max-height: 151px;
    border-radius: 5%;
}

.infoTextArtist{
    display: flex;
    justify-content: center;
    height: 5vh;
    color: white;
}

.divMembersArtist{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #292929, #0B0B0B);
    width: 90vw;
    margin: 5vw;
    border-radius: 5px;
    padding-bottom: 2vh;
}

.fieldsetArtistsMembers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2vw;
}

.divMembersArtistName{
    display: flex;
    width: 30vw;
}

.divMembersArtistName p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}

#titleMembreGrp{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.5em;
    overflow: hidden;
}

.fieldsetTableCityDate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2vw;
}

#titleTableCardConcertDates{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 2em;
    overflow: hidden;
}

.divtableCardConcertDates{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #090438, #01162F);
    border-radius: 5px;
    width: 90vw;
    margin: 5vw;
    padding-bottom: 2vh;
}

.cardConcertDates{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardConcertDates p{
    display: flex;
    justify-content: flex-start;
    color: white;
}

#nameArtist{
    height: 4vh;
}

#creationDateArtist{
    height: 4vh;
}

@media only screen and (min-width: 500px) {
    #idImgArtistDetailled{
        width: 17vw;
        height: 10vh;
    }
}

@media only screen and (min-width: 650px) {
    #idImgArtistDetailled{
        width: 17vw;
        height: 12vh;
    }

    .divImgArtistDetailled{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        height: 14vh;
        margin: 5vw;
        overflow: hidden;
    }
}

@media only screen and (min-width: 800px) {
    .allInfo{
        flex-direction: row;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    .divInfoTxtArtist{
        width: 20vw;
    }

    .infoTextArtist{
        justify-content: center;
    }

    .divMembersArtist{
        padding: 0;
        margin: 0;
        width: 25vw;
    }

    .divMembersArtistName{
        width: 15vw;
    }

    .divtableCardConcertDates{
        padding: 0;
        margin: 0;
        justify-content: center;
        flex-direction: column;
        width: 25vw;
    }

    .divImgArtistDetailled{
        margin: 0;
        padding: 1vw;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
    }

    #idImgArtistDetailled{
        width: 20vw;
        height: 14vh;
        max-width: 200px;
    }
}