body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    gap: 1vh;
  }

*{
    font-weight: bold;
}
.navTxtArtistDetailled{
    display: flex;
    color: black;
    text-decoration: none;
}

.allInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    gap: 1vh;
}

.infoTextArtist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom, #1E1E1E, #040404);
}

.divImgArtistDetailled{
    display: flex;
    justify-content: center;
    background: white;
}

.imgArtistDetailled{
    display: flex;
    width: 20vw;
    height: 10vh;
    border-radius: 5%;
}

.infoTextArtist{
    display: flex;
    justify-content: center;
    height: 5vh;
    color: white;
}

.tableCardConcertDates{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #02326E, #01162F);
    gap: 0vh;
}

.cardConcertDates{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardConcertDates p{
    display: flex;
    justify-content: flex-start;
    color: white;
}

#nameArtist{
    height: 4vh;
}

#creationDateArtist{
    height: 4vh;
}

#titleTableCardConcertDates{
    color: white;
    height: 4vh;
    font-size: 2em;
    overflow: hidden;
}