@font-face {font-family: "Circular Sp UI v3 T Light";
    src: url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.eot");
    src: url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.eot?#iefix") format("embedded-opentype"),
         url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.woff2") format("woff2"), 
         url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.woff") format("woff"), 
         url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.ttf") format("truetype"), 
         url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.svg#Circular Sp UI v3 T Light") format("svg"); }

img {
    padding-top: 0.2%;
    padding-left: 2%;
    width: 6%;
}

* {
    overflow-y: hidden;
    overflow-x: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.spotify {
    position: absolute;
    bottom: -1%;
    width: 145%;
}

#nav {
    justify-content: space-between;
    margin-left: 2%;
    display: inline-block;
}

li {
    list-style: none;
}

li a:hover {
    color: red;
}