
.containerone{
    height: 90vh;
    width: 100vw;
    background: linear-gradient(to bottom,#0bf,#066aff);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menutextwelcome{
    height: auto;
    width: 50vw;
    color: white;
}

.containertwo{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spotify {
    position: relative;
    bottom: -1%;
    width: 145%;
}