.containerone {
    height: 90vh;
    width: 100vw;
    background: linear-gradient(to bottom,#0bf,#066aff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menutextwelcome {
    height: auto;
    width: 50vw;
    color: white;
}

.containertwo {
    overflow-y: hidden;
    height: 19.8vh;
    width: 100vw;
    display: inline;
    justify-content: space-between;
    align-items: center;
}

.spotify {
    position: relative;
    bottom: -1%;
    width: 145%;
}

@media screen and (min-width: 768px) {

    .containerone {
        height: 90vh;
        width: 100vw;
        background: linear-gradient(to bottom,#0bf,#066aff);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menutextwelcome {
        height: auto;
        width: 50vw;
        color: white;
    }
    
    .containertwo {
        overflow-y: hidden;
        height: 17.4vh;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #title {
        display: flex;
        justify-content: center;
    }
    
    .spotify {
        display: flex;
        position: relative;
        bottom: -1%;
        width: 144%;
    }  
}