img {
    height: 8%;
    width: 8%;
}

.container {
    background-color: #85B7E5;
    width: 100%;
}

.legalnotice {
    font-size:x-large;
}

li {
    list-style: none;
}

li a:hover {
    color: red;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #85B7E5;
    color: white;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
