@font-face {font-family: "Circular Sp UI v3 T Light";
    src: url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.eot");
    src: url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.eot?#iefix") format("embedded-opentype"),
         url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.woff2") format("woff2"), 
         url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.woff") format("woff"), 
         url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.ttf") format("truetype"), 
         url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.svg#Circular Sp UI v3 T Light") format("svg"); }


* {
    overflow-x: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#nav {
    justify-content: space-between;
    margin-left: 2%;
    display: inline-block;
}

.legalnotice {
    font-size:x-large;
    font-family: 'Circular Sp UI v3 T Light';
}

li {
    list-style: none;
}

li a:hover {
    color: red;
}