header {
  background-color: #fff;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: #2d3436;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.searchContainer {
  display: flex;
  justify-content: right;
  margin-top: 3%;
  padding-bottom: 3%;
  padding-right: 3%;
}

.searchContainer form {
  display: flex;
  align-items: center;
  background-color: white;
  overflow: hidden;
  width: 50%;
}

.searchContainer input[type="text"] {
  border: solid 1px black;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.searchContainer button[type="submit"] {
  background-color: white;
  background-image: url("http://localhost:8080/static/img/loupe.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
}

.listcardArtist{
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
}

.formListcardArtist{
padding-top: 1.5vh;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
gap: 2vw 2vh;
}

.cardArtists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 1vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
  transition: 1s;
  overflow: hidden;
  margin-left: 1%;
}

.cardArtists:hover {
  transform: translatey(-10px);
}

.imgArtists{
  width: 40vw;
  height: 15vh;
  border-radius: 5%;
}

@media screen and (min-width: 768px) {   
    body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(324deg, transparent 0%, transparent 45%,rgba(186, 186, 186,0.04) 45%, rgba(186, 186, 186,0.04) 47%,transparent 47%, transparent 100%),linear-gradient(208deg, transparent 0%, transparent 40%,rgba(186, 186, 186,0.04) 40%, rgba(186, 186, 186,0.04) 80%,transparent 80%, transparent 100%),linear-gradient(202deg, transparent 0%, transparent 20%,rgba(186, 186, 186,0.04) 20%, rgba(186, 186, 186,0.04) 40%,transparent 40%, transparent 100%),linear-gradient(338deg, transparent 0%, transparent 10%,rgba(186, 186, 186,0.04) 10%, rgba(186, 186, 186,0.04) 72%,transparent 72%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
    background-attachment: fixed;
    background-repeat: no-repeat;
    }
    
    .searchContainer {
      display: flex;
      justify-content: center;
      margin-top: 3%;
      padding-bottom: 3%;
      padding-right: 3%;
    }
    
    .searchContainer form {
      display: flex;
      align-items: center;
      background-color: white;
      border-radius: 20px;
      overflow: hidden;
      width: 20%;
    }
    
    .searchContainer input[type="text"] {
      border: solid 1px black;
      font-size: 16px;
      border-radius: 20px;
      padding: 10px;
      width: 100%;
    }
    
    .searchContainer button[type="submit"] {
      background-color: white;
      background-image: url("http://localhost:80/static/img/loupe.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: none;
      color: #fff;
      font-size: 16px;
      padding: 10px 15px;
      cursor: pointer;
    }

    input {
      border-radius: 20px;
      width: 5vw;
    }
    
    .buttonPagination {
      border-radius: 20px;
      height: 3vh;
      width: 6vw;
    }

    .filter {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 2%;
    }

    .divButtonPagination {
      color: white;
    }
    
    .divNbrElemDisplayed {
      height: 8%;
      width: 18%;
      background: white;
    }

    .sortingFilter {
      width: 18%;
      background: white;
    }

    .listcardArtist{
      border-radius: 20px;
      display: flex;
      width: 96vw;
      padding-bottom: 0.8%;
      flex-direction: column;
      background-color: #fff;
    }
    
    .formListcardArtist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw 2vh;
    }
    
    .cardArtists {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      border-radius: 1vh;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
      transition: 1s;
      overflow: hidden;
    }
    
    .cardArtists:hover {
      transform: translatey(-10px);
    }
    
    .imgArtists{
      width: 10vw;
      height: 15vh;
      border-radius: 5%;
    }    
}