@font-face {font-family: "Circular Sp UI v3 T Light";
    src: url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.eot");
    src: url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.eot?#iefix") format("embedded-opentype"),
         url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.woff2") format("woff2"), 
         url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.woff") format("woff"), 
         url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.ttf") format("truetype"), 
         url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.svg#Circular Sp UI v3 T Light") format("svg"); }


* {
    overflow-x: hidden;
}

html, body {
    height: 100%;
}

#listcardArtist{
    display: flex;
    margin-bottom: 5%;
}
.cardartists {
    margin-top: 3%;
    margin-left: 2.7%;
    display: inline-flex;
    border-radius: 10px;
    transition: transform 0.5s;
}

button:hover {
    transform: translateY(-8px);
}

