header {
  background-color: #fff;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#2b1055, #7597de);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.search-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  padding-bottom: 3%;
  padding-right: 3%;
}

.searchContainer form {
  display: flex;
  align-items: center;
  background-color: white;
  overflow: hidden;
  width: 40%;
}

.searchContainer input[type="text"] {
  border: solid 1px black;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.searchContainer button[type="submit"] {
  background-color: white;
  background-image: url("http://localhost:80/static/img/loupe.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 0 20px 20px 0;
  padding: 10px 15px;
  cursor: pointer;
}

input {
  border-radius: 20px 0 0 20px;
}

.filter {
  width: 100%;
  color: white;
}

.divButtonPagination {
  color: white;
}

.listcardArtist{
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
}

.formListcardArtist{
padding-top: 1.5vh;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
gap: 2vw 2vh;
}

.cardArtists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 1vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
  transition: 1s;
  overflow: hidden;
  margin-left: 1%;
}

.cardArtists:hover {
  transform: translatey(-10px);
}

.imgArtists{
  width: 40vw;
  height: 15vh;
  border-radius: 5%;
}

@media screen and (min-width: 768px) {  
      body {
    margin: 0;
    padding: 0;
    height: 180vh;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background: linear-gradient(#2b1055, #7597de);
    background-repeat: no-repeat;
    }

    .searchContainer {
      display: flex;
      justify-content: center;
      margin-top: 3%;
      padding-bottom: 3%;
      padding-right: 3%;
    }
    
    .searchContainer form {
      display: flex;
      align-items: center;
      background-color: white;
      overflow: hidden;
    }
    
    .searchContainer input[type="text"] {
      border: solid 1px black;
      font-size: 16px;
      padding: 10px;
      width: 20%;
    }
    
    .searchContainer button[type="submit"] {
      background-color: white;
      background-image: url("http://localhost:80/static/img/loupe.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: none;
      border-radius: 0 20px 20px 0;
      color: #fff;
      font-size: 16px;
      padding: 10px 15px;
      cursor: pointer;
    }

    input {
      border-radius: 20px 0 0 20px;
      width: 5vw;
    }
    
    .buttonPagination {
      border-radius: 20px;
      height: 3vh;
      width: 6vw;
    }

    .filter {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 2%;
      color: white;
    }

    .divButtonPagination {
      color: white;
    }
    
    .divNbrElemDisplayed {
      height: 8%;
      width: 18%;
    }

    .sortingFilter {
      width: 18%;
    }

    .listcardArtist{
      border-radius: 20px;
      display: flex;
      width: 96vw;
      padding-bottom: 0.8%;
      flex-direction: column;
    }
    
    .formListcardArtist{
      overflow-y: hidden; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw 2vh;
    }
    
    .cardArtists {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 1vh;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
      transition: 1s;
      overflow: hidden;
    }
    
    .cardArtists:hover {
      transform: translatey(-10px);
    }
    
    .imgArtists{
      width: 10vw;
      height: 15vh;
      border-radius: 5%;
    }    
}