@font-face {font-family: "Circular Sp UI v3 T Light";
    src: url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.eot");
    src: url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.eot?#iefix") format("embedded-opentype"),
         url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.woff2") format("woff2"), 
         url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.woff") format("woff"), 
         url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.ttf") format("truetype"), 
         url("//db.onlinewebfonts.com/t/a29ff91e578ca75fd55c8eeb43542086.svg#Circular Sp UI v3 T Light") format("svg");
}

html{
    height: 100%;
}

* {
    font-family: "Circular Sp UI v3 T Light";
    overflow-x: hidden;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*Header*/
.navLogo {
    width: 24vw;
    height: 12vh;
    overflow: hidden;
}

.txt{
    color: black;
}

.txt:link{
    text-decoration: none; 
}

.txt:hover{
    color: gray;
}

header{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    overflow-y: hidden;
    background-color: white;
}

nav{
    display: flex;
}

nav ul{
    display: flex;
}

nav li{
    margin-right: 5vw;
}

/*Footer*/
footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d3436;;
    margin-top: auto;

    color: white;
}

footer a{
    color: white;
}

#ftxt:link{
    text-decoration: none; 
}

#ftxt:hover{
    color: rgb(222, 222, 222);
}

@media screen and (min-width: 768px) {
    /*Header*/
.navLogo {
    width: 15vw;
    height: 12vh;
    margin-left: 3%;
}

.txt{
    color: black;
}

.txt:link{
    text-decoration: none; 
}

.txt:hover{
    color: #2d3436;
}

header{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    overflow-y: hidden;
    background-color: white;
}

nav{
    display: flex;
}

nav ul{
    display: flex;
}

nav li{
    margin-right: 5vw;
}

/*Footer*/
footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d3436;
    margin-top: auto;
    color: white;
}

footer a{
    color: white;
}

#ftxt:link{
    text-decoration: none; 
}

#ftxt:hover{
    color: rgb(222, 222, 222);
    }
}