<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="http://{{ .ListenAddr.Ipv4 }}:{{ .Port }}/static/scripts/animation.js"></script>
        <link rel="stylesheet" href="http://{{ .ListenAddr.Ipv4 }}:{{ .Port }}/static/css/artistsDetails.css">
        <link rel="stylesheet" href="http://{{ .ListenAddr.Ipv4 }}:{{ .Port }}/static/css/main.css">
        <link rel="shortcut icon" href="http://{{ .ListenAddr.Ipv4 }}:{{ .Port }}/static/img/absolut_music.jpg">
        <title>Absolut Music</title>
    </head>
    <header>
        <a href="http://{{ .ListenAddr.Ipv4 }}:{{ .Port }}" class="navLogo"><img class="navLogo" src="http://{{ .ListenAddr.Ipv4 }}:{{ .Port }}/static/img/absolut_music.jpg" alt="logo"></a>
        <nav>
            <ul>
                <li><a class="txt" href="http://{{ .ListenAddr.Ipv4 }}:{{ .Port }}">Accueil</a></li>
                <li><a class="txt" href="http://{{ .ListenAddr.Ipv4 }}:{{ .Port }}/libraryArtists">Artistes</a></li>
                <li><a class="txt" href="http://{{ .ListenAddr.Ipv4 }}:{{ .Port }}/location">Lieux</a></li>
                <li><a class="txt" href="http://{{ .ListenAddr.Ipv4 }}:{{ .Port }}/about">À propos</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <div class="allInfo">
            <div class="divImgArtistDetailled">
                <img id="idImgArtistDetailled" src="{{.Image}}" alt="{{.Name}}">
            </div>
            <div class="divSpotify">
                {{ $i := index .SpotifySearchArtist.Artists.Items 0 }}
                <iframe class="iframeSpotify" src="https://open.spotify.com/embed/artist/{{ $i.Id }}?utm_source=generator&theme=0" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>    
            </div>
            <div class="divInfoTxtArtist">
                <p id="nameArtist">{{ .Name }}</p>
                <p id="creationDateArtist">{{ .CreationDate }}</p>
                <p id="firstAlbumArtist">{{ .FirstAlbum }}</p>
            </div>
            <div class="divMembersArtist">
                <fieldset class="fieldsetArtistsMembers">
                    <legend id="titleMembersGrp">Membres du Groupe</legend>
                    {{ range .Members }}
                    <p> {{.}}</p>
                    {{ end }}
                </fieldset>
            </div>
            <div class="divtableCardConcertDates">
                <fieldset class="fieldsetTableCityDate">
                    <legend id="titleTableCardConcertDates">Lieux de Concert</legend>
                    {{ range $city, $listDates := .ArtistConcertsDatesLocation }}
                        <div class="dropdown-container">
                            <div class="dropdown-toggle click-dropdown">{{ $city }}:</div>
                            <div class="dropdown-menu">
                                <ul>
                                {{ range $listDates }}
                                <li><a href="#">- {{.}} </a></li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                {{ end }}  
                </fieldset>
            </div>
        </div>
        <div class="artistAlbums">
            <strong><p id="titleAlbumArt">Albums de l'artist</p></strong>
            {{ range $album := .Albums }}
                <div class="album">
                    {{ $image := index $album.Images 1 }}
                    <img src="{{ $image.Url }}" alt="{{ $album.Name }}">
                    <p>{{ $album.Name }}</p>
                </div>
            {{ end }}
        </div>
    </body>
    <footer>
        <p>© 2023 Absolut Music</p>
        <ul>
            <li><a id="ftxt" href="http://{{ .ListenAddr.Ipv4 }}:{{ .Port }}/legalNotice">Mentions légales</a></li>
        </ul>
    </footer>
</html>