<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/static/css/libraryArtists.css">
    <link rel="stylesheet" href="http://localhost:8080/static/css/main.css">
    <link rel="shortcut icon" href="http://localhost:8080/static/img/absolut_music.jpg">
    <title>Absolut Music</title>
</head>
<header>
    <img id="navLogo" src="http://localhost:8080/static/img/absolut_music.jpg" alt="logo">
    <nav>
        <ul>
            <li><a class="txt" href="http://localhost:8080">Accueil</a></li>
            <li><a class="txt" href="http://localhost:8080/libraryArtists">Artistes</a></li>
            <li><a class="txt" href="http://localhost:8080/about">À propos</a></li>
        </ul>
    </nav>
</header>
<body>
    <div class="searchContainer">
        <form action="/libraryArtists">
          <input type="text" placeholder="Rechercher..." name="searchBar">
            <button formmethod="post">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
    <div class="sortingFilter">
        <fieldset><legend>Trier par</legend>
            <form action="/libraryArtists">
                <div class="sortingFilterDiv">
                    {{ if eq .SortingFilter "name"}} 
                    <input id="radioSortingName" type="radio" name="sortFilter" value="name" checked>
                    {{else}}
                    <input id="radioSortingName" type="radio" name="sortFilter" value="name">
                    {{end}}
                    <label>Name</label>
                    {{ if eq .SortingFilter "creationDate"}}
                    <input id="radioSortingCreationDate" type="radio" name="sortFilter" value="creationDate" checked>
                    {{else}}
                    <input id="radioSortingCreationDate" type="radio" name="sortFilter" value="creationDate">
                    {{end}}
                    <label>Date de Création</label>
                    {{ if eq .SortingFilter "numberMembers"}}
                    <input id="radioSortingMembers" type="radio" name="sortFilter" value="numberMembers" checked>
                    {{else}}
                    <input id="radioSortingMembers" type="radio" name="sortFilter" value="numberMembers">
                    {{end}}
                    <label>Nombre de membres</label>
                </div>
                <div class="sortingOrderDiv">
                    {{if .Asc}}
                    <input id="radioSortingOrder" type="radio" name="sortOrder" value="asc" checked>
                    <label>Croissant</label>
                    <input id="radioSortingOrder" type="radio" name="sortOrder" value="desc">
                    <label>Décroissant</label>
                    {{else}}
                    <input id="radioSortingOrder" type="radio" name="sortOrder" value="asc">
                    <label>Croissant</label>
                    <input id="radioSortingOrder" type="radio" name="sortOrder" value="desc" checked>
                    <label>Décroissant</label>
                    {{end}}
                </div>
                <input id="submitInputSort" type="submit" formmethod="post" value="Appliquer">
            </form>
        </fieldset>
    </div>
    <div class="listcardArtist">
        <form class="formListcardArtist" action="/artistsDetails">
        {{ range .Artistlist }}
            {{ if .IsVisible}}
                <button class="cardArtists" value="{{.Id}}" name="artistCardId" formmethod="post">
                    <img class="imgArtists" src="{{.Image}}" alt="{{.Name}}">
                    <p id="artistNameBtn">{{ .Name }}</p>
                </button>
            {{ end }}
		{{ end }}
        </form>
    </div>
</body>
    <footer>
            <p>© 2023 Absolut Music</p>
        <ul>
            <li><a id="ftxt" href="http://localhost:8080/legalNotice">Mentions légales</a></li>
        </ul>
    </footer>
</html>